* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

.logo-spotify {
  max-width: 40px;
  background-repeat: no-repeat;
  position: absolute;
  left: 70px;
  top: 15px;
}

body {
  background-image: url("imagens/pexels-josh-sorenson-976873.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.menu {
  display: flex;
  justify-content: flex-end;
  background-color: #000;
  padding: 23px;
  margin-bottom: 120px;
}

.menu li {
  list-style: none;
  margin: 10px;
  display: inline;
  padding: 30px;
  font-size: 20px;
  font-family: sans-serif;
}
.menu li a {
  text-decoration: none;
  color: #fff;
}

.icons-home {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  border-color: #000;
}

.icons-container {
  justify-content: itens;
  text-align: center;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 40px;
  background-image: linear-gradient(to right,rgba(142, 237, 221, 0.4), rgba(30, 17, 3, 0.4));
}

.bloco-todo {
  display: flex;
}
.dentro-bloco {
  background: #ffff url(icons/celular.png) no-repeat center;
}
